@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  max-width: 740px;
  margin: 0 auto;
  background-image: url("img/pattern_099.gif");
}

a {
  text-decoration: none;
  color: #007eb6;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

nav a {
  color: #fff;
  padding: 0.5rem 0.75rem;
  background-color: #007eb6;
  border-radius: 0.5rem;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1;
  font-size: 1.5rem;
  color: #007eb6;
  margin: 0;
  font-family: "Arima Madurai", cursive;
}

h1 {
  font-size: 3rem;
  letter-spacing: -1px;
  color: #78a517;
}

h2 {
  color: #78a517;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  color: #222;
}

blockquote {
  color: #007eb6;
  font-family: "Arima Madurai", cursive;
  font-style: italic;
  font-size: 1.25rem;
}

.wrapper {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
}

header {
  position: relative;
  padding-bottom: 8rem;
}

header img {
  position: absolute;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 2s;
}

.active {
  opacity: 1;
}
