@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: #007eb6;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 1.5rem;
  color: #007eb6;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
}

div.logo {
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  position: absolute;
  top: 96px;
  left: 60px;
  z-index: 900;
}

.logo h1 {
  width: 40vw;
  color: #fff;
  text-shadow: 0px 0px 1px #000;
  font-size: 12vw;
  font-weight: normal;
  line-height: 0.9;
  letter-spacing: -4px;
}

.logo h1:first-line {
  margin-left: 25vw;
}

.logo span {
  color: #fff;
  display: inline-block;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 3vw;
}

h2 {
  color: #78a517;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 + p {
  margin-top: 0.25rem;
}

p {
  color: #222;
}

blockquote {
  color: #007eb6;
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 1.5rem;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
header img {
  grid-area: 1 / 1 / 1 / 1;
  opacity: 0;
  transition: all 2s;
}
header .active {
  opacity: 1;
}

.active {
  opacity: 1;
}

dl {
  width: 100%;
}

dd {
  margin-left: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-weight: bold;
}

main {
  max-width: 80vw;
  margin: 0 auto;
}

main img {
  max-width: 400px;
  margin-right: 1rem;
  float: left;
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
