<div class="contact">
  <h2 id="contact">Contact Us</h2>
  <p>
    Villa Tekla is owned by the family of the Canadian novelist
    <a href="http://www.deverell.com" target="_blank" rel="noreferrer"
      >William Deverell</a
    >
    and is named in honor of his late wife Tekla. Daniel and Tamara
    Deverell manage the property from Brooklyn NY and Toronto Ontario
    (respectively) when it is not in use by the family and maintain
    listings on
    <a
      href="https://www.airbnb.com/rooms/2970784"
      target="_blank"
      rel="noreferrer"
      >AirBnB</a
    >
    and
    <a target="_blank" rel="noreferrer" href="http://www.vrbo.com/78616"
      >VRBO</a
    >.
  </p>

  <p>
    For rental enquiries please go to <a target="_blank" rel="noreferrer" href="http://www.vrbo.com/78616">VRBO</a> or <a
      href="https://www.airbnb.com/rooms/2970784" target="_blank" rel="noreferrer">AirBnB</a
    >. </p>
    
    <p>For all other enquiries contact Daniel Deverell in the US, Tamara Deverell in Canada or use the form below.
  </p>

  <dl>
    <dd>US</dd>
    <dt>daniel.deverell@gmail.com</dt>
    <dt>+1 917 865-5517</dt>
    <dd>Canada</dd>
    <dt>devdes@sympatico.ca</dt>
  </dl>

  <form class="contact" name="contact" method="POST" data-netlify="true">
  
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email <input type="email" name="email" /></label>
    </p>
    <p>
      <label>Message <textarea name="message"></textarea></label>
    </p>
    <p>
      <button type="submit">Send</button>

      <span style="font-weight: bold; padding: 1rem;">For rental availablity please go to <a target="_blank" rel="noreferrer" href="http://www.vrbo.com/78616">VRBO</a> or <a href="https://www.airbnb.com/rooms/2970784" target="_blank" rel="noreferrer">AirBnB</a>.</span>
    <p>
  </form>
</div>