<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
<title>Villa Tekla - {{ pageTitle }}</title>
<script src="src="https://kit.fontawesome.com/b12d759d2c.js" crossorigin="anonymous""></script>
<link rel="stylesheet" href="/css/styles.min.css" />
<meta name="Description" content="Villa Tekla is a rental accommodation in Manuel Antonio Costa Rica.">

<meta property="og:url" content="https://villatekla.com" />
<meta property="og:title" content="VIlla Tekla - Manuel Antonio • Costa Rica" />
<meta property="og:description" content="Situated on 5 hectares of verdant jungle, Villa Tekla is a three bedroom Spanish style villa with a private pool." />
<meta property="og:image" content="https://villatekla.com/img/wIMG_2669-social-media.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Situated on 5 hectares of verdant jungle, Villa Tekla is a three bedroom Spanish style villa with a private pool." />
<meta name="twitter:title" content="Situated on 5 hectares of verdant jungle, Villa Tekla is a three bedroom Spanish style villa with a private pool." />
<meta name="twitter:image" content="https://villatekla.com/img/wIMG_2669-social-media.jpg" />