main {
  width: 87vw;
  max-width: 860px;
  margin: 0 auto;
  @media (min-width: $bp-med) {
    width: 80vw;
  }
}

main img.float {
  max-width: 300px;
  padding: 12px;
  border-radius: 4%;
  @media (min-width: $bp-med) {
    float: right;
    max-width: 300px;
    padding: 12px 0 12px 12px;
    // padding-left: 0;
    // margin-left: 2rem;
    // margin-bottom: 1rem;
  }
}

main img.full {
  border-radius: 4px;
  float: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.animation-container {
  background-color: #111;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: space-around;
  iframe {
    width: 100%;
    height: 500px;
  }
}
