main {
  width: 87vw;
  max-width: 860px;
  margin: 0 auto;
  @media (min-width: $bp-med) {
    width: 80vw;
  }
}

main img {
  max-width: 400px;
}

// .hint.imagined {
//   display: flex;
//   gap: 3rem;
//   h3 {
//     margin-top: 0;
//   }
// }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: space-around;
}
