main {
  width: 87vw;
  max-width: 860px;
  margin: 0 auto;
  @media (min-width: $bp-med) {
    width: 80vw;
  }
}

main img {
  max-width: 300px;
  padding: 12px;
  border-radius: 12px;
  @media (min-width: $bp-med) {
    float: right;
    max-width: 300px;
    padding: 12px;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}

.animation-container {
  background-color: #111;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: space-around;
  iframe {
    width: 100%;
    height: 500px;
  }
}
