::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  border-left: 0;
  background: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 4px;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
  // creates a bug in Chrome with floated image on home page
  // box-sizing: border-box;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: $body-text;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1.8;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-size: 100%;
  @media (min-width: $bp-med) {
    font-size: 118%;
  }
}

a {
  text-decoration: none;
  color: $blue;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 1.5rem;
  color: $blue;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: $serif;
}

h2 {
  color: $green;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  scroll-margin-top: 4rem;
}

h3 + p {
  margin-top: 0.25rem;
}

p {
  color: #222;
  line-height: 1.6;
}

ul {
  padding-left: 0;
}

blockquote {
  color: $blue;
  font-family: $serif;
  font-style: italic;
  line-height: 1.4;
  margin: 1rem 0;
  @media (min-width: $bp-med) {
    margin: 1rem 40px;
  }
  p {
    line-height: 1.4;
    @media (min-width: $bp-med) {
      font-size: 1.25rem;
      text-indent: -2.5ex;
    }
  }
}

blockquote p:before,
blockquote p:after {
  content: "”";
  font-size: 1.25rem;
  font-weight: bold;
  font-family: $fancy-serif;
  color: $green;
  @media (min-width: $bp-med) {
    font-size: 32px;
  }
}

blockquote p:after {
  content: "”";
  line-height: 0.25;
}

blockquote p:before {
  content: "“";
  line-height: 1;
}

.active {
  opacity: 1;
}

dl {
  width: 100%;
}

dd {
  margin-left: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-weight: bold;
}
