.marker {
  background-image: url("vt-icon.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.sidebar {
  display: none;
  background-color: rgba(240, 240, 240, 0.9);
  position: absolute;
  width: 33.3333%;
  height: 90%;
  top: 3rem;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  @media (min-width: $bp-small) {
    display: block;
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 1rem;
    width: 30vw;
    height: calc(100vh - 8rem);
    border-radius: 0.25rem;
  }
}

.heading {
  border-bottom: 1px solid #bbb;
  min-height: 72px;
  line-height: 60px;
  padding: 0 10px;
  h1 {
    font-size: 2.75rem;
    margin-top: 8px;
    margin-bottom: 6px;
    line-height: 1;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
    font-family: $body-text;
    letter-spacing: 2px;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    font-family: $serif;
    font-style: italic;
    padding: 0 20%;
  }
}

.guide .description {
  cursor: pointer;
}

.listings {
  height: 80%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: $green;
  font-weight: 700;
}

.listings .item .title:hover {
  text-decoration: underline;
}

.listings .item.active {
  background-color: #f3f3f3;
}

/* Marker tweaks */
button.mapboxgl-popup-close-button {
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 1rem;
  border-radius: 22px;
  color: white;
  background-color: $red;
  &:hover {
    background-color: $red;
  }
}

.mapboxgl-popup-content {
  padding: 0;
  width: 280px;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  color: $green;
  margin: 0;
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
}

.mapboxgl-popup-content p {
  font-size: 1rem;
  margin-bottom: 0;
}
