$bp-med: 800px;
$bp-large: 1290px;
$blue: #007eb6;
$green: #78a517;

$body-text: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$serif: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
