<!DOCTYPE html>
<html lang="en" class="{{ pageClass }}">
  <head>
    {% include "gtag.njk" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Villa Tekla - {{ pageTitle }}</title>
    <script src="https://kit.fontawesome.com/fb7f6f30e4.js"></script>
    <link rel="stylesheet" href="/css/styles.min.css" />

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />

  </head>
  <body>

    {% include "navigation.njk" %}

    <div id="map" class="map"></div>
        <div class="sidebar">
      <div class="heading">
        <h1>
          Villa Tekla <br /> Insiders Guide

        </h1>
        <h2>manuel antonio • costa rica</h2>
        <p>An opinionated guide to the region <br />from the folks at Villa Tekla.</p>
      </div>
      <div id="listings" class="listings"></div>
    </div>

    <script src="/js/ma-features.js" ></script>
    <script src="/js/mapbox.js" ></script>

  </body>
</html>
