<!DOCTYPE html>
<html lang="en" class="{{ pageClass }}">
  <head>
    {% include "gtag.njk" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Villa Tekla - {{ pageTitle }}</title>
    <script src="https://kit.fontawesome.com/fb7f6f30e4.js"></script>
    <link rel="stylesheet" href="/css/styles.min.css" />
    <meta name="Description" content="Villa Tekla is a rental accommodation in Manuel Antonio Costa Rica.">
  </head>
  <body>

    {% include "navigation.njk" %}
    {% include "logo.njk" %}
    {% include "animation.njk" %}

    <main>
      {{ content | safe }}
      {% include "contact.njk" %}
    </main>
    <script src="/js/scripts.js"></script>
  </body>
</html>
