<!DOCTYPE html>
<html lang="en" class="{{ pageClass }}">
  <head>
    {% include "gtag.njk" %}
    {% include "meta.njk" %}

  </head>
  <body>

    {% include "navigation.njk" %}
    {% include "logo.njk" %}
    {% include "animation.njk" %}

    <main>
      {{ content | safe }}
      {% include "contact.njk" %}
    </main>
    <script src="/js/scripts.js"></script>
  </body>
</html>
